aside{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    grid-area: aside;
}
aside p {
    color: #a7a7a7;
    font-size:12pt;
    margin: 40px 50px 0 50px;
    text-align: justify;
}
aside h2{
    font-family: 'Roboto', sans-serif; 
    font-size: 12pt;
    margin: 30px 50px 30px 50px;
    text-align: center;
}
aside h3{
    color: #a7a7a7;
    font-family: 'Roboto', sans-serif; 
    font-size: 12pt;
    margin: 30px 50px 30px 50px;
    text-align: center;
}
aside h1{
    margin-top: 50px;
    text-align: center;
}
aside > div{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
}
aside > div > p{
    align-items: center;
    background-color: #9f9f9f;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin: 16px 0;
    padding: 10px;
    
}
aside > div > p:hover{
    background-color: #2dcc73;
}
aside > div > p > img{
    background-color: #9f9f9f;
    height: 22px;
}
aside > div > p > img:hover{
    background-color: #2dcc73;
}
aside ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10vw;
}
aside ul li{
    list-style: none;
}
aside ul li img{
    margin: 1px 1px -1px;
    width: 70px;
}
body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-areas:    "nav"
                            "header"
                            "main"
                            "section"
                            "aside"
                            "footer";
    grid-template-columns: 100vw;
    /* grid-template-rows: 2vh 80vh 170vh 100vh 110vh 10vh;                       */
}
footer{
    align-items: center;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    grid-area: footer;
}
footer a{
    color: #9f9f9f;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    padding: 15px 0;
    text-decoration: none;
}
header{
    background-image: url("../images/banner2.png");
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    color: white;
    grid-area: header;
}
header h1{
    font-family: 'Pacifico', cursive; 
    font-size: 35pt ;
    margin-right: 45vw;
    margin-top: 15vh;
    text-align: center;
}
header > div > p{ 
    font-family: 'Roboto', sans-serif; 
    font-size: 14pt;
    text-align: left;
    padding: 0 33px;
}
header > div > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10vh 0 10vh 10vw;
    width: 200px;
}
header > div > img{
    display: none;
    height: 300px;
}
header > div > div > p{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}
header div p:hover{
    background-color: rgba(63, 201, 63, 0.555);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: main;
}
main div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1{
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    font-size: 18pt;
    text-align: center;
}
main img{
    background-color: #2dcc73;
    border-radius: 100%;
    margin-top: 50px;
    padding: 15px;
}
main p{
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin: 0 50px;
    text-align: justify;
}
nav{
    background-color: #2dcc73;
    height: 2vh ;
    grid-area: nav;
}
section{
    align-items: center;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    grid-area: section;
    margin-top: 20px;
    padding-top: 40px;
}
section div{
    display: flex;
    margin: 0 0 8vh 0;
}
section h1{
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    margin: 20px 32px 0 32px;
    padding: 20px 0;
    text-align: justify;
}
section iframe{
    border-radius: 5%;
    height: 30vh;
    width: 80%;
}
section input{
    border: none;
    border-radius: 8px 0 0 8px;
    height: 40px;
    margin-top: 30px;
    width: 55vw;
}
section input[type="button"]{
    background-color: #2dcc73;
    border-radius: 0 8px 8px 0;
    box-shadow: 0;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: 40px;
    width: 20vw;
}
section p{
    color: #a7a7a7;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin: 0 50px;
    text-align: justify;
}
main :nth-child(9){
    margin-bottom: 5vh;
}
div span{
    color: #2dcc73;
}
@media(min-width: 768px){
    .container{
            grid-template-areas:    "nav nav nav"
                                    "header header header"
                                    "main main main" 
                                    "section section section"
                                    "aside aside aside"
                                    "footer footer footer";
            grid-template-columns: 33.33vw 33.33vw 33.33vw;
    }
    footer{
        flex-direction: row;
        justify-content: space-evenly;
    }
    footer a{
        padding: 30px 0;
    }
    header > div > img{
        display: block;
    }
    header > div > h1{
        margin: 15vw 25vw 0 5vw;
    }
    header :nth-child(2){
        display: flex;
        align-items: flex-end;
    }
    main{
        flex-direction: row;
    }
    main > div > p{
        font-size: 12pt;
    }
    main > div > h1{
        font-size: 14pt;
    }
    main > div{
        margin-bottom: 30px;
    }
    section > iframe{
        height: 50vh;
    }
}