aside{
    grid-area: aside;
}
body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-areas:    "nav"
                            "header"
                            "main"
                            "section"
                            "aside"
                            "footer";
    grid-template-columns: 100vw;
    /* grid-template-rows: 2vh 30vh 20vh 20vh 30vh 10vh; */
    
}
footer{
    grid-area: footer;
}
header{
    background-image: url("../images/banner.png");
    background-position: center;
    color: white;
    height: 60vh;
    grid-area: header;

}
header h1{
    font-family: 'Pacifico', cursive; 
    font-size: 35pt ;
    text-align: center;
}
header p{ 
    font-family: 'Roboto', sans-serif; 
    font-size: 14pt;
    text-align: left;
    padding-left: 13px;
}

header div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    margin-left: 10vw;
}
header div p{
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 100%;
    padding: 15px;
}
header div p:hover{
    background-color: rgba(63, 201, 63, 0.555);
}
main{
    grid-area: main;
}
nav{
    background-color: #2dcc73;
    grid-area: nav;
}
section{
    grid-area: section;
}