aside{
    grid-area: aside;
    background-color: white;
}
aside p {
    margin:7vh;
    font-size:14pt;
}
aside h2{
    text-align: center;
}
aside ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10vw 10vw;
    align-items: center;
}
aside ul li{
    list-style: none;
}
aside ul li img{
    width: 70px;
    margin: 1px 1px -1px;
}
body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-areas:    "nav"
                            "header"
                            "main"
                            "section"
                            "aside"
                            "footer";
    grid-template-columns: 100vw;
    /* grid-template-rows: 2vh 80vh 170vh 100vh 110vh 10vh;                       */
}
footer{
    grid-area: footer;
}
header{
    background-image: url("../images/banner2.png");
    background-size: cover;
    color: white;
    grid-area: header;
}
header h1{
    font-family: 'Pacifico', cursive; 
    font-size: 35pt ;
    margin-right: 45vw;
    margin-top: 15vh;
    text-align: center;
}
header p{ 
    font-family: 'Roboto', sans-serif; 
    font-size: 14pt;
    text-align: left;
    padding: 0 33px;
}
header div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10vh 0 10vh 10vw;
    width: 200px;
}
header div p{
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 100%;
    padding: 15px;
}
header div p:hover{
    background-color: rgba(63, 201, 63, 0.555);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: main;
}
main h1{
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    text-align: center;
}
main img{
    background-color: #2dcc73;
    border-radius: 100%;
    margin-top: 50px;
    padding: 15px;
}
main p{
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin: 0 50px;
    text-align: justify;
}
nav{
    background-color: #2dcc73;
    grid-area: nav;
}
section{
    align-items: center;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    grid-area: section;
    margin-top: 20px;
    padding-top: 40px;
}
section div{
    display: flex;
    margin: 0 0 8vh 0;
}
section h1{
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    margin: 20px 32px 0 32px;
    padding: 20px 0;
    text-align: justify;
}
section iframe{
    border-radius: 5%;
    height: 30vh;
    width: 80%;
}
section input{
    border: none;
    border-radius: 8px 0 0 8px;
    height: 40px;
    margin-top: 30px;
    width: 55vw;
}
section input[type="button"]{
    background-color: #2dcc73;
    border-radius: 0 8px 8px 0;
    box-shadow: 0;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: 40px;
    width: 20vw;
}
section p{
    color: #a7a7a7;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin: 0 50px;
    text-align: justify;
}
main :nth-child(9){
    margin-bottom: 5vh;
}
div span{
    color: #2dcc73;
}